@page "/views/"

<h3>viewPDF</h3>

<AuthorizeView>
    <Authorized>
        <!-- <embed id="embPDF" src="https://localhost:44315/api/Folders/pdfShow/path=@PDF_Path/,name=@PDF_Name" style="width:100%; height:1200px;"/> -->
        <embed src="https://localhost:44315/api/Folders/pdfShow/path=Z%3A%5CSPAC%5CITT%5C13ITT%20Macchina%20Ufficio%5C13001%5CPDF%5C,name=20012E01" style="width: 100%; height:1200px" />
    </Authorized>
    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>



@code {
    [Parameter]
    public string PDF_Path { get; set; }

    [Parameter]
    public string PDF_Name { get; set; }





}
